<html>
<head>
  <meta charset="UTF-8">
  <title>Hangman</title>
</head>
<body>
  <p>
    <%= status %>
    <%= result %>
  </p>
  <form>
    Letter: <input type="text" name="letter">
    <input type="submit" value="Guess!">
  </form>
</body>
</html>