<html>
  <head></head>
  <body>
    <form>
      <input type="text" name="cleartext" value="Cleartext">
      <input type="text" name="shift" value="shift">
      <input type="submit" value="Encrypt!">
    </form>
    <p>
      <%= ciphertext %>
    </p>
  </body>
</html>